.half {
    height: 50%;
    width: 100%;
    overflow: auto;
}

.half.first {

}

.half.second {

}

.main-container {
    display: flex;
    flex-flow: column;
}

@media only screen and (orientation: landscape) {
    .main-container {
        flex-flow: row-reverse;
    }
    .half {
        height: 100%;
        width: 50%;
        overflow: auto;
    }
}