.question-grid-list {
    background: #c8c8c8;
}

.question {
    width: 100%;
    display: flex;
    flex-flow: column;
    flex-shrink: 1;
    height: auto;
    margin: 4px 0;
}

.question .header {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    padding: 8px;
}

.question .header > * {
    padding: 2px;
}

.question .content {
    padding: 0 12px;
}

.question .answer {
    overflow: hidden;
    transition: height 0.3s ease-out;
    height: auto;
}